In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("/content/main.csv")

In [18]:
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [19]:
df.groupby("product_description")['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [25]:
df['price']= df['price'].fillna(df.groupby(['product_description'])['price'].transform('mean'))

In [26]:
df.iloc[34]

product_code                 1002
product_description      cucumber
product_group           vegetable
sales_date             2021-11-05
price                    4.532857
sales_quantity                 24
unit                           kg
Name: 34, dtype: object

In [28]:
df1 = df[df.isna().any(axis=1)]
print(df1)

Empty DataFrame
Columns: [product_code, product_description, product_group, sales_date, price, sales_quantity, unit]
Index: []

In [29]:
from google.colab import files

df.to_csv('output.csv', encoding = 'utf-8-sig') 
files.download('output.csv')